---
layout: home
title: Elizabeth Min
profile: /assets/img/profile.JPG
---
<div id="home">
    <div id="home-header">
        <img src="{{ page.profile }}" />
        <div id="site-title">
            <h2>Elizabeth Min</h2>
            <p>STORYTELLER   |  CODER  |  EXPLORER</p>
        </div>
    </div>
    <h4>About Me</h4>
    {% include about.html 
        pic="/assets/img/about.jpg"
        headline="A writer turned programmer, "
        content-1="I picked up coding in middle school when I revamped the literary blog that I ran for five years. One online class led to another, and I haven't stopped creating since."
        content-2="Today, I'm passionate about making scalable solutions to difficult problems and technology that empowers people."
        content-3="When I'm not coding, you can find me doing philosophy on Whitworth's Ethics Bowl team, trail running in the back 40 acres behind campus, or investigating my next great eat."     %}
    <div class="featured">
        <!-- HORIZONTAL PANELS -->
        <h4>Experience</h4>
        <div class="horizontal-panels">
            {% include featured-wide-panel.html 
                index="1" 
                font-awesome="fas fa-flask" 
                title="Whitworth University Research" 
                content="Last summer, I was a research assistant under Dr. Predrag Tosic researching applications of reputation, trust, and multi-tiered learning to fake news detection." 
                img="/assets/img/whitworth.png"   %}
            {% include featured-wide-panel.html 
                index="2" 
                font-awesome="fas fa-globe-americas" 
                title="Expedia Group" 
                content="While interning on the Partner APIs team, I wrote and connected an API to the team's content cache, which serves hotel and booking data across Expedia's organizations." 
                img="/assets/img/expedia.png"   %}
            {% include featured-wide-panel.html 
                index="3" 
                font-awesome="fab fa-windows" 
                title="Microsoft AI and Research" 
                content="I built a platform for performance testing of various results from my team's geolocation algorithms." 
                img="/assets/img/msft.png"   %}
        </div>
        
        <!-- VERTICAL PANELS -->
        <h4>Projects</h4>
        <div class="vertical-panels">
            {% include featured-tall-panel.html 
                index="1" 
                font-awesome="fas fa-network-wired" 
                title="Montage" 
                content="A social network and meeting scheduler for Whitworth University freshmen in computer science and related fields." 
                tools="PHP, mySQL, HTML, CSS, JS"
                status="past"   %}
            {% include featured-tall-panel.html 
                index="2" 
                font-awesome="fas fa-paint-roller" 
                title="AR-t" 
                content="An augmented reality iOS app that allows users to create and share artwork on a real-world canvas." 
                tools="6D.ai, Swift"
                status="current"    %}
            {% include featured-tall-panel.html 
                index="3" 
                font-awesome="fa fa-pie-chart" 
                title="Pie Time" 
                content="A beautiful visual timer made for keeping track of tasks and increasing productivity." 
                tools="Dart, Flutter"
                status="current"    %}
        </div>
        <a href="https://github.com/elmmo" id="view-more" target="_blank">
            <p>View more on GitHub   >></p>
        </a>
    </div>
    {% include social-bar.html %}
    {% include footer.html %}
</div>