/* OUTSIDE IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Cabin&display=swap");
@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");
/* SASS COMPONENTS */
/* TYPOGRAPHY */
/* COLORS */
/* SPACING */
/* FEATURED */
* {
  font-family: "Cabin"; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Satisfy";
  margin: 0.2em 0 0.2em 0; }

h1 {
  font-size: 7em; }

h2 {
  font-size: 6em; }

h3 {
  font-size: 5em; }

h4 {
  font-size: 4em; }

h5 {
  font-size: 3em; }

h6 {
  font-size: 2em; }

/* SPACING */
#home-header, .featured .horizontal-panels div[class^="content-wide-"], .featured .horizontal-panels div[class^="content-wide-"] .feature-img, .featured .vertical-panels, .featured .vertical-panels div[class^="content-tall-"], .social-bar {
  display: flex;
  justify-content: center;
  align-items: center; }

/* TYPOGRAPHY */
.about .about-text, .featured .horizontal-panels div[class^="content-wide-"] .wide-text p, .featured .vertical-panels div[class^="content-tall-"] p, .footer p, .footer span {
  letter-spacing: 0.2px;
  font-size: 1.2em;
  line-height: 1.2em; }

body {
  margin: 0; }

#home-header {
  height: 100vh; }
  #home-header h2 {
    margin: 0.2em 0 -0.3em 0; }
  #home-header img {
    width: 10em;
    height: 10em;
    border-radius: 360px;
    position: relative;
    right: 1.5em; }

h4 {
  text-align: center; }

.about {
  margin: 0 20vw 8% 20vw;
  display: flex; }
  .about img {
    border-radius: 0 40%;
    width: 20vw;
    box-shadow: -0.5em 0.5em 1em rgba(148, 148, 148, 0.721);
    margin-right: 3vw; }
  .about .about-text p:nth-of-type(1) {
    margin-top: 3em; }

.featured {
  margin-bottom: 8%; }
  .featured .horizontal-panels {
    margin-bottom: 8%; }
    .featured .horizontal-panels div[class^="content-wide-"] {
      border: solid rgba(223, 223, 223, 0.324) 0.1em;
      height: 50vh;
      margin: 1vh 20vh 1vh 20vh; }
      .featured .horizontal-panels div[class^="content-wide-"] .wide-text {
        margin: 0 3% 0 6%;
        display: inline-block;
        width: 45%; }
        .featured .horizontal-panels div[class^="content-wide-"] .wide-text h6 {
          margin-bottom: 0.8em;
          display: inline-block; }
        .featured .horizontal-panels div[class^="content-wide-"] .wide-text p {
          margin: 0 10% 0 10%; }
        .featured .horizontal-panels div[class^="content-wide-"] .wide-text i {
          margin: 0 1em 0 -0.5em;
          color: rgba(148, 148, 148, 0.721); }
      .featured .horizontal-panels div[class^="content-wide-"] .feature-img {
        width: 54%;
        height: 100%; }
        .featured .horizontal-panels div[class^="content-wide-"] .feature-img img {
          width: 85%;
          max-height: 90%; }
  .featured .vertical-panels {
    margin: 0 5% 0 5%; }
    .featured .vertical-panels div[class^="content-tall-"] {
      border: solid rgba(223, 223, 223, 0.324) 0.1em;
      height: 50vh;
      width: 30vw;
      transition: background-color .4s linear;
      flex-direction: column;
      text-align: center;
      padding: 6vh 0 6vh 0;
      margin: 0 1% 0 1%; }
      .featured .vertical-panels div[class^="content-tall-"] i {
        margin: 0.5em 0 0.8em 0;
        color: rgba(148, 148, 148, 0.721); }
      .featured .vertical-panels div[class^="content-tall-"] h6 {
        margin-bottom: 0.3em; }
      .featured .vertical-panels div[class^="content-tall-"] p {
        margin: 0 10% 0 10%; }
      .featured .vertical-panels div[class^="content-tall-"] p:nth-of-type(2) {
        color: rgba(148, 148, 148, 0.721);
        margin: 1em 0 1em 0; }
      .featured .vertical-panels div[class^="content-tall-"] .current, .featured .vertical-panels div[class^="content-tall-"] .past {
        border: 1pt solid;
        border-radius: 0.3em;
        padding: 0.3em 0.4em; }
      .featured .vertical-panels div[class^="content-tall-"] .current {
        border-color: #00d200;
        color: #00d200; }
      .featured .vertical-panels div[class^="content-tall-"] .past {
        border-color: rgba(148, 148, 148, 0.721);
        color: rgba(148, 148, 148, 0.721); }
      .featured .vertical-panels div[class^="content-tall-"]:hover p, .featured .vertical-panels div[class^="content-tall-"]:hover i, .featured .vertical-panels div[class^="content-tall-"]:hover h6 {
        color: white; }
  .featured #view-more {
    text-align: right;
    color: rgba(148, 148, 148, 0.721);
    text-decoration: none; }
    .featured #view-more p {
      margin: 1.4em 5em 0 0; }
    .featured #view-more:hover {
      text-decoration: underline;
      color: black; }
    .featured #view-more:visited {
      text-decoration: none;
      color: rgba(148, 148, 148, 0.721); }
      .featured .vertical-panels div[class^="content-tall-"]:hover .current {
        border-color: rgb(100, 206, 105);
        background-color: rgb(100, 206, 105);
        color: white;}
      .featured .vertical-panels div[class^="content-tall-"]:hover .past {
        border-color: rgb(148, 148, 148);
        background-color: rgb(148, 148, 148);
        color: white; }

.social-bar {
  margin: 2em 0 2em 0; }
  .social-bar i {
    margin: 0 0.2em 0 0.2em; }

.content-wide-1 .feature-img {
  background-color: #2b81ff; }

.social-bar-1 {
  color: rgba(148, 148, 148, 0.721); }
  .social-bar-1:hover {
    color: #2b81ff; }

.content-tall-1:hover {
  border-color: white;
  background-color: #2b81ff; }

.content-wide-2 .feature-img {
  background-color: #0064f7; }

.social-bar-2 {
  color: rgba(148, 148, 148, 0.721); }
  .social-bar-2:hover {
    color: #0064f7; }

.content-tall-2:hover {
  border-color: white;
  background-color: #0064f7; }

.content-wide-3 .feature-img {
  background-color: #004fc4; }

.social-bar-3 {
  color: rgba(148, 148, 148, 0.721); }
  .social-bar-3:hover {
    color: #004fc4; }

.content-tall-3:hover {
  border-color: white;
  background-color: #004fc4; }

.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(148, 148, 148, 0.721);
  color: #ededed;
  padding: 0.5em 1.5em; }
  .footer p, .footer span {
    font-size: 1em;
    margin: 0; }

/*# sourceMappingURL=main.css.map */
