<h1 class="type-size-1"> Type Size 1 Test </h1>
<h1 class="type-size-2"> Type Size 2 Test </h1>
<h1>h1 Example Heading</h1>
<h2>h2 Example Heading</h2>
<h3>h3 Example Heading</h3>
<h4>h4 Example Heading</h4>
<h5>h5 Example Heading</h5>
<h6>h6 Example Heading</h6>
<h6 class="type-size-7"> Type Size 7 Test </h6>
<h6 class="type-size-8"> Type Size 8 Test </h6>

<p>
    According to all known laws of aviation, there is no way a bee should be able to fly. Its wings are too small to get its fat little body off the ground. The bee, of course, flies anyway because bees don't care what humans think is impossible. Yellow, black. Yellow, black. Yellow, black. Yellow, black. 
    <br> 
    Ooh, black and yellow! Let's shake it up a little. Barry! Breakfast is ready! Coming! Hang on a second. Hello? Barry? Adam? Can you believe this is happening? I can't.  
</p>