body {
    margin: 0; 
}
#home-header {
    height: 100vh; 
    @extend %flex-center; 
    h2 {
        margin: $tight-lower-margin; 
    }
    img { 
        width: 10em; 
        height: 10em; 
        border-radius: 360px; 
        position: relative; 
        right: 1.5em; 
    }
}
h4 {
    text-align: center; 
}
.about {
    margin: 0 20vw $panel-buffer 20vw; 
    display: flex; 
    img {
        border-radius: 0 40%; 
        width: 20vw; 
        box-shadow: -0.5em 0.5em 1em $medium-gray; 
        margin-right: 3vw; 
    }
    .about-text {
        @extend %body-font-regularize; 
        p:nth-of-type(1) {
            margin-top: 3em; 
        }
    }
}
.featured {
    margin-bottom: $panel-buffer; 
    .horizontal-panels {
        margin-bottom: $panel-buffer; 
        div[class^="content-wide-"] {           // applying style to every wide content div
            border: solid $light-gray 0.1em; 
            height: 50vh; 
            margin: 1vh 20vh 1vh 20vh; 
            @extend %flex-center; 
            .wide-text {
                margin: 0 3% 0 6%; 
                display: inline-block; 
                width: 45%;
                h6 {
                    margin-bottom: 0.8em; 
                    display: inline-block;
                }
                p {
                    @extend %body-font-regularize; 
                    margin: 0 10% 0 10%; 
                }
                i {
                    margin: 0 1em 0 -0.5em; 
                    color: $medium-gray; 
                }
            }
            .feature-img {
                @extend %flex-center; 
                width: 54%;
                height: 100%; 
                img {
                    width: 85%; 
                    max-height: 90%; 
                }
            }
        }
    }
    .vertical-panels {
        @extend %flex-center; 
        margin: 0 5% 0 5%; 
        div[class^="content-tall-"] {           // applying style to every tall content div
            border: solid $light-gray 0.1em; 
            height: 50vh; 
            width: 30vw;
            @extend %flex-center; 
            flex-direction: column; 
            text-align: center; 
            padding: 6vh 0 6vh 0; 
            margin: 0 1% 0 1%; 
            transition: background-color .4s linear;
            i {
                margin: 0.5em 0 0.8em 0;
                color: $medium-gray; 
            }
            h6 {
                margin-bottom: 0.3em; 
            }
            p {
                @extend %body-font-regularize; 
                margin: 0 10% 0 10%; 
            }
            p:nth-of-type(2) {
                color: $medium-gray; 
                margin: 1em 0 1em 0; 
            }
            .current, .past {
                border: 1pt solid;
                border-radius: 0.3em; 
                padding: 0.3em 0.4em; 
            }
            .current {
                border-color: $active-green;
                background-color: $active-green; 
                color: white; 
            }
            .past {
                border-color: $medium-gray; 
                background-color: $medium-gray; 
                color: white; 
            }
            &:hover {
                p, i, h6 {
                    color: white; 
                }
            }
        }
    }
    #view-more {
        text-align: right;
        color: $medium-gray; 
        text-decoration: none; 
        p {
            margin: 1.4em 5em 0 0; 
        }
        &:hover {
            text-decoration: underline; 
            color: black; 
        }
        &:visited {
            text-decoration: none; 
            color: $medium-gray; 
        }
    }
}
.social-bar {
    margin: $large-upper-lower-margin;  
    @extend %flex-center; 
    i {
        margin: 0 0.2em 0 0.2em; 
    }
}
@for $i from 1 through $featured-count {
    .content-wide-#{$i} {
        .feature-img {
            background-color: gradient($base-blue, $i); 
        }
    }
    .social-bar-#{$i} {
        color: $medium-gray; 
        &:hover {
            color: gradient($base-blue, $i); 
        }
    }
    .content-tall-#{$i} {
        &:hover {
            border-color: white; 
            background-color: gradient($base-blue, $i); 
        }
    }
}
.footer {
    display: flex; 
    justify-content: space-between; 
    background-color: $medium-gray; 
    color: $opaque-light-gray; 
    padding: 0.5em 1.5em; 
    p, span {
        @extend %body-font-regularize; 
        font-size: 1em; 
        margin: 0; 
    }
}