* {
    background-color: #afeeee; 
}

#home-header {
    height: 60vh; 
    @extend %flex-center; 
    h2 {
        margin: $tight-lower-margin; 
    }
    img { 
        width: 10em; 
        height: 10em; 
        border-radius: 360px; 
        position: relative; 
        right: 1.5em; 
    }
}

.social-bar {
    @extend %flex-center; 
    .github {
        @extend %brand-social-bar; 
        &:before {
            content: fa-content($fa-var-github); 
        }
    }
    .linkedin {
        @extend %brand-social-bar; 
        &:before {
            content: fa-content($fa-var-linkedin); 
        }
    }
    .email {
        @extend %regular-social-bar; 
        &:before {
            content: fa-content($fa-var-envelope); 
        }
    }
}
